@font-face {
    font-family: 'EB Garamond', serif;
    src: url("../font/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}

body {
    margin: 0;
}

.top {
    width: 100%;
    height: calc( calc( calc( 100% / 10 ) * 2 ) - 6px );
    border-right: solid 2px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
    border-radius:0 0 5px 5px; 
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    box-sizing: border-box;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#333 75%);
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    width: 100%;
    height: calc( calc( calc( 100% / 10 ) * 8 ) - 6px );
    border-right: solid 2px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
    border-radius:0 0 5px 5px; 
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    box-sizing: border-box;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#333 75%);
}

.keyboard {
    aspect-ratio: 880 / 220;
    background-color: red;
}