@font-face {
    font-family: 'EB Garamond', serif;
    src: url("../font/EB_Garamond/EBGaramond-VariableFont_wght.ttf");
}

body {
    margin: 0;
}

:root {
    --font-size: 0;
    --font-size2: 0;

    --size-icon: 0;
}

.top {
    width: 100%;
    height: calc( calc( calc( 100% / 10 ) * 2 ) - 6px );
    border-right: solid 2px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
    border-radius:0 0 5px 5px; 
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    box-sizing: border-box;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#333 75%);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: gold;
    font-size: var(--font-size);
    font-family: 'EB Garamond', serif;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: var(--size-icon);
    aspect-ratio: 1;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    width: 100%;
    height: calc( calc( calc( 100% / 10 ) * 8 ) - 6px );
    border-right: solid 2px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
    border-radius:0 0 5px 5px; 
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    box-sizing: border-box;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#333 75%);
}

.keyboard {
    display: flex;
    aspect-ratio: 880 / 220;
}

.whiteKey {
    position: relative;
    width: calc( 100% / 22 );
    height: 100%;
    padding: 0;
    border:solid 1px #ccc;
    border-radius:0 0 3px 3px; 
    box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 0 3px rgba(0,0,0,0.7);
    box-sizing: border-box;
    background:#fff;
    user-select: none;
}

.whiteKey-active {
    display: inline-block;
    position: relative;
    height: calc( 100% - 4px );
    border-top: 4px solid #666;
    box-shadow:0 2px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
}
  
.whiteKey-active::before {
    position:absolute;
    top:0px;
    left:0px;
    width:0px;
    height:0px;
    border-width: calc( 100% - 4px ) 5px 0px;
    border-style:solid;
    border-color:transparent transparent transparent rgba(0,0,0,0.1);
    content:"";
}

.whiteKey-active::after {
    position:absolute;
    top:0px;
    right:0px;
    width:0px;
    height:0px;
    border-width: calc( 100% - 4px ) 5px 0px;
    border-style:solid;
    border-color:transparent rgba(0,0,0,0.1) transparent transparent;
    content:"";
}

.blackKey {
    position:relative;
    z-index: 1;
    width: calc( 100% * calc( 24 / 880 ) );
    height: calc( 100% * calc( 130 / 220 ) );
    margin: 0 calc( 100% * calc( 24 / 880 ) / -2 );
    border-width:1px 2px 7px;
    border-style:solid;
    border-color:#666 #222 #111 #555; 
    border-radius:0 0 2px 2px;
    box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
    box-sizing: border-box;
    background:linear-gradient(-20deg,#333,#000,#333);
    user-select: none;
}

.blackKey-active {
    height: calc( 100% * calc( 130 / 220 ) );
    border-width:7px 2px 1px;
    border-top-color: #3c3c3c;
    box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
    -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
    -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
    user-select: none;
}

span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc( 100% * calc( 40 / 220 ) );
    font-size: var(--font-size2);
    font-family: 'EB Garamond', serif;
    user-select: none;
}