/*
    CSSプロパティの書き順
    https://zenn.dev/web_tips/articles/f1167f4314dcb3
*/

/*
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

    font-family: 'EB Garamond', serif;
*/

/*
@font-face
*/

:root {
    --height-back: calc( ( 100vh / 2 ) - 6px );

    /*--height-whiteKey: calc( var(--height-back) *  ( 220 / var(--height-back) ) );*/
}

html {
    font-size: 62.5%; /*ベースを10pxにする*/
}

body {
    margin: 0;
    overflow: hidden;
}

.top {
    width: 100vw;
    height: var(--height-back);
    border-right: solid 2px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
    border-radius:0 0 5px 5px; 
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    box-sizing: border-box;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#333 75%);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc( 100% / 2 );
    color: gold;
    font-size:80px;
    /*font-family: var(--fontFamily-top);*/
    user-select: none;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc( 100% / 2 );
}

.icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: calc( 100% / 2 );
    background: red;
}

.volume-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: calc( 100% / 2 );
    background: blue;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: var(--height-back);
    margin-top: 5px;
    border-right: solid 2px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
    border-radius:0 0 5px 5px; 
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    box-sizing: border-box;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#333 75%);
    
}

.keyboard {
    width: 880px;
    height: 300px;
}

.keyName {
    display: flex;
    width: 880px;
    height: 40px;
}

.whiteKeyName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: gold;
    font-size: 20px;
    /*font-family: var(--fontFamily-keyName);*/
    user-select: none;
}

.blackKeyName-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    color: gold;
    font-size: 20px;
    /*font-family: var(--fontFamily-keyName);*/
    user-select: none;
}

.blackKeyName-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: gold;
    font-size: 20px;
    /*font-family: var(--fontFamily-keyName);*/
    user-select: none;
}

.blackKeyName-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    color: gold;
    font-size: 20px;
    /*font-family: var(--fontFamily-keyName);*/
    user-select: none;
}

.key {
    display: flex;
    width: 880px;
    height: 220px;
    background: blue;
}

.whiteKey {
    position: relative;
    width: 40px;
    height: 220px;
    padding: 0;
    border:solid 1px #ccc;
    border-radius:0 0 3px 3px; 
    box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 0 3px rgba(0,0,0,0.7);
    box-sizing: border-box;
    background:#fff;
    cursor: pointer;
}

.blackKey {
    position:relative;
    z-index: 1;
    width: 24px;
    height: 130px;
    margin: 0 -12px;
    border-width:1px 2px 7px;
    border-style:solid;
    border-color:#666 #222 #111 #555; 
    border-radius:0 0 2px 2px;
    box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
    box-sizing: border-box;
    background:linear-gradient(-20deg,#333,#000,#333);
    cursor: pointer;
}

span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    /*font-family: var(--fontFamily-keyName);*/
}

/*
.whiteKey-active {
    display: inline-block;
    position: relative;
    height:var(--height-whiteKey-active);
    border-top: 4px solid var(--color-gray-light);
    box-shadow:0 2px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
}
  
.whiteKey-active::before {
    position:absolute;
    top:0px;
    left:0px;
    width:0px;
    height:0px;
    border-width: var(--height-whiteKey-active) 5px 0px;
    border-style:solid;
    border-color:transparent transparent transparent rgba(0,0,0,0.1);
    content:"";
}

.whiteKey-active::after {
    position:absolute;
    top:0px;
    right:0px;
    width:0px;
    height:0px;
    border-width: var(--height-whiteKey-active) 5px 0px;
    border-style:solid;
    border-color:transparent rgba(0,0,0,0.1) transparent transparent;
    content:"";
}

.blackKey-active {
    height: var(--height-blackKey);
    border-width:7px 2px 1px;
    border-top-color: #3c3c3c;
    box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
    -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
    -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}*/