/*
    CSSプロパティの書き順
    https://zenn.dev/web_tips/articles/f1167f4314dcb3
*/

/*
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

    font-family: 'EB Garamond', serif;
*/

/*
@font-face
*/

:root {
    --width-base: 1040;
    --height-base: 300;

    --width-size: 1280;
    --height-size: 720; 

    --width-keyboard: calc( 100vw - 4px ); /*width(1276px)*/
    --height-keyboard: calc( 100vh * calc( var(--height-base) / var(--height-size) ) ); /*height(300px)*/

    --width-key: calc( 100vw * calc( var(--width-base) / var(--width-size) ) ); /*width(1040px)*/
    --height-key: calc( var(--height-keyboard) * calc( 220 / var(--height-base) ) ); /*height(220px)*/

    --height-key: calc( var(--height-keyboard) * calc( 218 / var(--height-base) ) ); /*height(220px)*/

    --width-whiteKey: calc( calc( var(--width-key) * calc( 40 / var(--width-base) ) ) - 2px ); /*width(38px)*/
    --height-whiteKey: calc( var(--height-key) - 2px ); /*height(218px)*/

    --height-baseNote: calc( var(--height-keyboard) * calc( 40 / var(--height-base) ) ); /*height(40px)*/

    --height-whiteKey-active: calc( var(--height-key) - 10px ); /*height(216px)*/

    --width-blackKey: calc( calc( var(--width-key) * calc( 24 / var(--width-base) ) ) - 4px ); /*width(20px)*/
    --height-blackKey: calc( var(--height-keyboard) * calc( 122 / var(--height-base) ) ); /*height(122px)*/
    --margin-blackKey: calc( calc( var(--width-blackKey) + 4px ) / -2 ); /*margin(-12px)*/


    --height-blackKey-active: calc( var(--height-keyboard) * calc( 126 / var(--height-base) ) ); /*height(124px)*/

    --width-keyName: calc( var(--width-key) * calc( 40 / var(--width-base) ) ); /*width(40px)*/
    --height-keyName: calc( var(--height-keyboard) * calc( 40 / var(--height-base) ) ); /*height(40px)*/
    --margin-blackKeyName: calc( var(--width-keyName) / 2 ); /*margin(20px)*/

    --height-top: calc( 100vh - calc( calc( var(--height-keyboard) + 11px ) * 2 ) ); /*height(98px)*/

    --width-title: calc( var(--width-keyboard) * calc( 476 / 1276 ) ); /*width(476px)*/

    --width-volume: calc( var(--width-keyboard) * calc( 400 / 1276 ) ); /*width(400px)*/

    --width-volume-group: calc( var(--width-keyboard) * calc( 50 / 1276 ) ); /*width(50px)*/
    --height-volume-group: calc( var(--height-top) * calc( 70 / 98 ) ); /*height(70px)*/

    --height-volume-button: calc( var(--height-top) * calc( 50/ 98 ) ); /*height(49px)*/

    --width-volume-slider-container: calc( var(--width-keyboard) * calc( 250  / 1276 ) ); /*width(250px)*/
    --margin-volume-slider-container: calc( var(--width-keyboard) * calc( 10  / 1276 ) ); /*margin(10px)*/

    --height-volume-var: calc( var(--height-top) * calc( 10 / 98 ) ); /*height(10px)*/

    --size-volume-thumb: calc( var(--height-top) * calc( 20 / 98 ) ); /*height(20px)*/

    --height-volume-key: calc( var(--height-top) * calc( 20 / 98 ) ); /*height(20px)*/

    --color-gold-light: #9f8f3e;
    --color-gold-dark: #746a38;
    --color-gray-light: #9e9e9e;
    --color-gray-light-hover: #676767;
    --color-gray-dark: #484848;
    --color-gray-dark-hover: #000000;

    --fontSize-title: 5rem; /*50px*/
    --fontSize-volume-value: 3rem; /*30px*/
    --fontSize-key: 1.5rem; /*15px*/
    --fontSize-keyName: 2.5rem; /*25px*/
    
    --fontFamily-top: Theano Didot,"sans-serif";
    --fontFamily-keyName: Cornelia Font Duo,"sans-serif";
}

html {
    font-size: 62.5%; /*ベースを10pxにする*/
}

.piano {
    margin: 0;
    overflow: hidden;
}

.top {
    display: flex;
    width: var(--width-keyboard);
    height: var(--height-top);
    border-right: solid 2px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
    border-radius:0 0 5px 5px; 
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#333 75%);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-title);
    height: var(--height-top);
    margin: 0 0 0 var(--width-volume);
    color: var(--color-gold-light);
    font-size: var(--fontSize-title);
    font-family: var(--fontFamily-top);
    user-select: none;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--width-keyboard);
    height: var(--height-keyboard);
    margin-top: 5px;
    border-right: solid 2px #333;
    border-bottom: solid 2px #333;
    border-left: solid 2px #333;
    border-radius:0 0 5px 5px; 
    box-shadow:0 2px 0px #666,0 3px 0px #555,0 4px 0px #444,0 6px 6px #000,inset 0 -1px 1px rgba(255,255,255,0.5),inset 0 -4px 5px #000;
    background:-webkit-linear-gradient(-60deg,#000,#333,#000,#333 75%);
    
}

.keyName {
    display: flex;
    width: var(--width-key);
    height: var(--height-keyName);
}

.key {
    display: flex;
    width: var(--width-key);
    height: var(--height-key);
}

.blackKeyName-U1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-keyName);
    height: var(--height-keyName);
    margin: 0 var(--margin-blackKeyName);
    color: var(--color-gold-light);
    font-size: var(--fontSize-keyName);
    font-family: var(--fontFamily-keyName);
    user-select: none;
}

.blackKeyName-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-keyName);
    height: var(--height-keyName);
    margin-left: var(--margin-blackKeyName);
    color: var(--color-gold-light);
    font-size: var(--fontSize-keyName);
    font-family: var(--fontFamily-keyName);
    user-select: none;
}

.blackKeyName-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-keyName);
    height: var(--height-keyName);
    margin-right: var(--margin-blackKeyName);
    color: var(--color-gold-light);
    font-size: var(--fontSize-keyName);
    font-family: var(--fontFamily-keyName);
    user-select: none;
}

.blackKeyName-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-keyName);
    height: var(--height-keyName);
    color: var(--color-gold-light);
    font-size: var(--fontSize-keyName);
    font-family: var(--fontFamily-keyName);
    user-select: none;
}

.blackKeyName-space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-keyName);
    height: var(--height-keyName);
    color: var(--color-gold-light);
    font-size: var(--fontSize-keyName);
    font-family: var(--fontFamily-keyName);
}

.whiteKey {
    position: relative;
    width: var(--width-whiteKey);
    height: var(--height-whiteKey);
    padding: 0;
    border:solid 1px #ccc;
    border-radius:0 0 3px 3px; 
    box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 0 3px rgba(0,0,0,0.7);
    background:#fff;
    cursor: pointer;
}

.base{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: var(--width-whiteKey);
    height: var(--height-baseNote);
    font-size: var(--fontSize-keyName);
    font-family: var(--fontFamily-keyName);
    
}

.whiteKey-active {
    display: inline-block;
    position: relative;
    height:var(--height-whiteKey-active);
    border-top: 4px solid var(--color-gray-light);
    box-shadow:0 2px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
}
  
.whiteKey-active::before {
    position:absolute;
    top:0px;
    left:0px;
    width:0px;
    height:0px;
    border-width: var(--height-whiteKey-active) 5px 0px;
    border-style:solid;
    border-color:transparent transparent transparent rgba(0,0,0,0.1);
    content:"";
}

.whiteKey-active::after {
    position:absolute;
    top:0px;
    right:0px;
    width:0px;
    height:0px;
    border-width: var(--height-whiteKey-active) 5px 0px;
    border-style:solid;
    border-color:transparent rgba(0,0,0,0.1) transparent transparent;
    content:"";
}

.blackKey {
    position:relative;
    z-index: 1;
    width: var(--width-blackKey);
    height: var(--height-blackKey);
    margin: 0 var(--margin-blackKey);
    border-width:1px 2px 7px;
    border-style:solid;
    border-color:#666 #222 #111 #555; 
    border-radius:0 0 2px 2px;
    box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4); 
    background:linear-gradient(-20deg,#333,#000,#333);
    cursor: pointer;
}

.blackKey-active {
    height: var(--height-blackKey);
    border-width:7px 2px 1px;
    border-top-color: #3c3c3c;
    box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
    -webkit-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
    -moz-box-shadow:inset 0px -1px 1px rgba(255,255,255,0.4),0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;
}

.whiteKeyName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width-keyName);
    height: var(--height-keyName);
    color: var(--color-gold-light);
    font-size: var(--fontSize-keyName);
    font-family: var(--fontFamily-keyName);
    user-select: none;
}